<link rel="stylesheet" href="../../css/buscaAvancada.css">

<main>

    <section id="topo">
        <div class="botoes-topo">
            <button class="selecionad botao-esquerdo grupo1" onclick="ler('botao-esquerdo', 'grupo1')">
                Filtre por data
            </button>
            <button class="botao-estilo botao-direito grupo1" onclick="ler('botao-direito', 'grupo1')">
                Filtre por preço
            </button>
        </div>
        <div class="botoes-topo">
            <button class="selecionad botao-esquerdo grupo2" id="displayLista"
                onclick="ler('botao-esquerdo', 'grupo2')">
                <iconify-icon icon="ion:list"></iconify-icon>
            </button>
            <button class="botao-estilo botao-direito grupo2" id="displayBloco"
                onclick="ler('botao-direito', 'grupo2')">
                <iconify-icon icon="basil:layout-outline"></iconify-icon>
            </button>
        </div>
    </section>

    <section id="conteudo">
        <form id="barra-filtro" action="/public/buscaAvancada" method="post">
            <div id="titulo-conteudo">
                <iconify-icon icon="system-uicons:filter"></iconify-icon>
                <label for="">Filtre por</label>
            </div>
            <div id="tipo-botoes">
                <button type="button" class="tipo-botao grupo3 botao-esquerdo" id="compra"
                    onclick="ler('botao-esquerdo', 'grupo3')">
                    <iconify-icon icon="icons8:buy"></iconify-icon>
                    Comprar
                </button>
                <button type="button" class="tipo-botao grupo3 botao-direito" id="alugar"
                    onclick="ler('botao-esquerdo', 'grupo3')">
                    <iconify-icon icon="heroicons:key"></iconify-icon>
                    Alugar
                </button>
            </div>
            <input type="hidden" name="operacao" id="operacao" value="">
            <div id="filtros-opcoes">
                <select name="cidade" id="selectCidade" class="select-opcao">
                    <option value="" selected disabled>Cidade</option>
                </select>
                <select name="tipo" id="" class="select-opcao">
                    <option value="" selected disabled>Tipo imóvel</option>
                    <option value="Casa">Casa</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Lote">Lote</option>
                    <option value="Kitnet/Studio">Kitnet/Studio</option>
                    <option value="Sala Comercial">Sala Comercial</option>
                </select>
                <select name="quartos" id="" class="select-opcao">
                    <option value="" selected disabled>Quartos</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <select name="banheiros" id="" class="select-opcao">
                    <option value="" selected disabled>Banheiros</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <select name="vagas" id="" class="select-opcao">
                    <option value="" selected disabled>Vagas</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="caixa-quantidade">
                <label for="faixaPrecoDe" class="label-quantidade">Faixa de preço</label>
                <div class="inputs-quantidade" id="quantidades-um">
                    <input type="text" name="faixaPrecoDe" id="faixaPrecoDe" placeholder="De" class="input-quantidade">
                    <input type="text" name="faixaPrecoAte" id="faixaPrecoAte" placeholder="Até"
                        class="input-quantidade">
                </div>
            </div>
            <div class="caixa-quantidade">
                <label for="faixaAreaMin" class="label-quantidade">Área</label>
                <div class="inputs-quantidade">
                    <input type="text" name="faixaAreaMin" id="faixaAreaMin" placeholder="Mínimo"
                        class="input-quantidade">
                    <input type="text" name="faixaAreaMax" id="faixaAreaMax" placeholder="Máximo"
                        class="input-quantidade">
                </div>
            </div>
            <button id="botao-pesq">
                Pesquisar
            </button>
        </form>
        <section id="imoveis">
            {{#each imoveis}}

            <div class="info-movel" id="card-imovel">
                <div id="imagem-venda">
                    <img src="../../img/img-imovel-busca-avanc.jpeg" alt="" id="imagem-imagem">
                </div>
                <div class="teto" id="info-direita">
                    <div id="imovel-meio">
                        <h4>{{dataValues.tipo_imovel}}</h4>
                        <h5 class="escrita-imovel">{{dataValues.bairro}} - {{dataValues.cidade}}</h5>
                        <h6 class="escrita-imovel escrita-cinza">COD: {{dataValues.id}}</h6>
                        <div id="detalhe-imovel" class="escrita-imovel">
                            <div class="mini-info">
                                <iconify-icon icon="cil:room" class="icone"></iconify-icon>
                                <h6 class="escrita-cinza">{{dataValues.num_quartos}} salas</h6>
                            </div>
                            <div class="mini-info">
                                <iconify-icon icon="iconoir:bathroom" class="icone"></iconify-icon>
                                <h6 class="escrita-cinza">{{dataValues.num_banheiros}} ban.</h6>
                            </div>
                            <div class="mini-info">
                                <iconify-icon icon="majesticons:car-line" class="icone"></iconify-icon>
                                <h6 class="escrita-cinza">{{dataValues.num_vagas}} vagas</h6>
                            </div>
                            <div class="mini-info">
                                <iconify-icon icon="iconoir:ruler" class="icone"></iconify-icon>
                                <h6 class="escrita-cinza">{{dataValues.area}}m²</h6>
                            </div>
                        </div>
                    </div>
                    <div class="teto" id="venda-imovel">
                        <div id="botao-venda">
                            <h6>{{dataValues.operacao}}</h6>
                        </div>
                        <h3 id="valor">
                            R${{dataValues.valor}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="infoImovelBloco" id="infoImovelBloco">
                <div class="imgInfoBloco">
                    <img src="../../img/img-imovel-busca-avanc.jpeg" alt="" id="imagem-vend">
                    <div class="operationBloco">
                        <p id="operacaoImovel">{{dataValues.operacao}}</p>
                    </div>
                </div>
                <div class="contentInfoBloco">
                    <div class="lineContent">
                        <p id="tipoImovel">{{dataValues.tipo_imovel}}</p>
                        <p id="valorImovel">R$ {{dataValues.valor_imovel}}</p>
                    </div>
                    <div class="lineContent">
                        <div class="enderecoImovel">
                            <p id="bairroImovel">{{dataValues.bairro}} - {{dataValues.cidade}}</p>
                        </div>
                        <p id="idImovel">ID: {{dataValues.id}}</p>
                    </div>
                    <div class="infoImovel">
                        <div class="blocoInfo">
                            <iconify-icon icon="cil:room"></iconify-icon>
                            <p id="numQuartos">{{dataValues.num_quartos}} salas</p>
                        </div>
                        <div class="blocoInfo">
                            <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                            <p id="numBanheiros">{{dataValues.num_banheiros}} ban.</p>
                        </div>
                        <div class="blocoInfo">
                            <iconify-icon icon="majesticons:car-line"></iconify-icon>
                            <p id="numVagas">{{dataValues.num_vagas}} vagas</p>
                        </div>
                        <div class="blocoInfo">
                            <iconify-icon icon="iconoir:ruler" class="icone"></iconify-icon>
                            <p id="tamArea">{{dataValues.area}}m²</p>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </section>


</main>
<script src="../../js/buscaAvancada.js"></script>